
.about {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

.about h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    align-items: flex-start;
}

.about-content img {
    max-width: 300px;
    margin-right: 20px;
    border-radius: 5px;
}

.about-content .text {
    flex: 1;
}

.about-content .text p {
    margin-bottom: 20px;
    text-align: justify;
}
.about-slider {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    text-align: center;
}

.about-slider h2 {
    margin-bottom: 20px;
}

.slider {
    position: relative;
    overflow: hidden;
}
footer {
	padding: 120px 0 80px;
	background: #474747;
}

.footer_in {
	margin-bottom: 130px
}

.h-history_cards {

	max-width: 1403px;
    background-color: #474747;


}
.h-history__card__content{
    font-size: xx-large;
    color: black;
    font-style: normal;
    text-align: end;
    
}
.h-history__card__content:hover {
transform: scale(1.1);
transition: 0.3s;
}


.h-history__card__desc{
    margin: auto;
    font-size: large;
    font-style: italic;
    text-align: center;
}

.h-history__card__image-box img{
	margin: auto;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
    width: 50%;
}

.h-history__card__image-box img {
	transition: 0.3s;
}

.h-history__card__image-box:hover img {
	transform: scale(1.1);
}

.h-history__card__image-box::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0;
	z-index: 10;
	transition: 0.3s;
}

.h-history__card__image-box:hover::before {
	opacity: 0.2;
}
.h-history__card__desc{
    width: 45%;
    justify-content: left;
   
}