.card2 {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}



.about_tit{
    text-align: center;
    margin-bottom: 20px;
}

.about-slider h2 {
    margin-bottom: 20px;
}

.slider {
    position: relative;
    overflow: hidden;
}

.card1 {
    display: flex;
    width: 900px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
   
}

.text-side {
    flex: 1;
    padding: 20px;
}

.image-side {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.image-container {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
    text-align: center;
    display: flex;
    justify-content: center;
}

.image-container:hover {
    transform: scale(1.1);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


