
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Menu li {
    margin: 0 5px;
}


.Menu li a  {
    text-decoration: none;
    color: #333333; 
    font-weight: bold;
    justify-content: space-between;
    
    margin-right: 10px;
}
