.info_f {
	color: #2c2f24;
	font-family: 'Playfair Display', arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	padding: 30px;
	text-align: center;
	
}
.info_p {
	color:black;
	font-family: 'Playfair Display', arial, sans-serif;
	font-size: 20px;
	font-weight: 200;
	

	
}
.page-header {
	background-color:grey;
	border-radius: 30px;}
