.footer {
    background: #f7f7f7;
    box-sizing: content-box;
    font-size: 13px;
    min-height: 190px;
    padding: 46px 0;
    width: 100%;
    margin-top: 30px;
}

.footerContent li.parent>a>span {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 0 0 10px;
    line-height: 24px;
}
.footerContent a {
    line-height: 26px;
}
footerContent .footer-spec-list>li {
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
    text-transform: uppercase;
    max-width: 200px;
    font-size: 11px;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
.footerContent ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.footerContent .footer-bottom>div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 12%;
}
.footerContent .menu_menufooter {
    padding: 0 15px;
    margin-left: 50px;
}
.footerContent .footer-spec-list.menu-icon {
    margin-top: 35px;
}
.footer_icons {
	justify-content: flex-start;
    margin-bottom: 30px;

}

.footer_ic {
	margin-right: 12px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background:white url(../../images/1\ \(1\).svg) center no-repeat;
}

.footer_ic-fb {
	background-image: url(../../images/2.svg)
}

.footer_ic-inst {
	background-image: url(../../images/3.svg);
}

.footer_ic-tel {
	background-image: url(../../images/telegram-logo-thin-svgrepo-com.svg);
    background-color: maroon;
}






.footer_ic:hover {
	transform: rotate(360deg);
}

