.delivery{
    width: 100%;
   
}
.del{
    width: 50%;
}
.page_ovd_wrapper .row {
    display: flex;
    flex-wrap: inherit;
    margin: 0;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.page_ovd_wrapper .page_ovd_open_wrapper .page_ovd_open_item .page_ovd_info {
    position: relative;
    padding: 30px 0 15px;
    clear: both;
}
.delivery_ic{
    width: 20%;
    height: 20%;
    margin-left: 40%;
}