
#map {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
min-height: 572px;
max-width: 980px;
}

.article-body.js-mediator-article {
max-width: 100%;
margin: auto;
}
.page-header {
display: none;
}
.blog_item_wrapper .blog_item .item-content .item-caption {
display:none;
}
.blog_item_wrapper .blog_item .item-content .item-body {
padding: 0px 20px 16px;
}
.blog_item_wrapper .blog_item .item-content {
border:none;
}
